---
- name: Ensure dnsmasq is present
  ansible.builtin.dnf:
    name: dnsmasq
    state: present

- name: Allow DNS in {{ rocky_router_fw.lan_zone }}
  ansible.posix.firewalld:
    zone: "{{ rocky_router_fw.lan_zone }}"
    service: dns
    immediate: true
    permanent: true
    state: enabled
  notify: Reload firewall

- name: Copy template for local dns server configurations
  ansible.builtin.template:
    src: "60-rocky-router-dns.conf.j2"
    dest: "/etc/dnsmasq.d/60-rocky-router-dns.conf"
    owner: root
    group: root
    mode: "0644"

- name: Update local dhcp dns-server configuration to {{ rocky_router_ip.addr }}
  ansible.builtin.lineinfile:
    path: "/etc/dnsmasq.d/50-rocky-router-dhcp.conf"
    regexp: '^dhcp-option=option:dns-server'
    line: "dhcp-option=option:dns-server,{{ rocky_router_ip.addr }}"
