---
- name: Install selinux management utils
  tags: ssh
  ansible.builtin.dnf:
    name: policycoreutils-python-utils
    state: present

- name: Copy ssh config template
  tags: ssh
  ansible.builtin.template:
    src: 90-rocky-router-ssh.conf.j2
    dest: /etc/ssh/sshd_config.d/90-rocky-router-ssh.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload ssh

- name: Set SSH seliux context for port {{ rocky_router_ssh.wan_port }}
  tags: ssh
  community.general.seport:
    ports:
      - "{{ rocky_router_ssh.wan_port }}"
    proto: tcp
    setype: ssh_port_t

- name: Allow port in wan zone {{ rocky_router_fw.wan_zone }}
  tags: ssh
  ansible.posix.firewalld:
    zone: "{{ rocky_router_fw.wan_zone }}"
    port: "{{ rocky_router_ssh.wan_port }}/tcp"
    state: enabled
    immediate: true
    permanent: true
